@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

#signup-form *,
#login-form * {
  margin: 7px auto;
}

#loads-progress {
  margin-top: 1rem;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc291cmNlcy9hc3NldHMvc2Fzcy9hcHAuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJcbi8vIEZvbnRzXG5AaW1wb3J0IHVybChodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9UmFsZXdheTozMDAsNDAwLDYwMCk7XG5cbi8vIFZhcmlhYmxlc1xuI3NpZ251cC1mb3JtICosICNsb2dpbi1mb3JtICp7XG5cdG1hcmdpbjogN3B4IGF1dG87XG59XG5cbiNsb2Fkcy1wcm9ncmVzc3tcblx0bWFyZ2luLXRvcDogMXJlbTtcbn1cbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQSxPQUFPLENBQUMsZ0VBQUk7QUFHWixBQUFhLFlBQUQsQ0FBQyxDQUFDLEVBQUUsQUFBWSxXQUFELENBQUMsQ0FBQyxDQUFBO0VBQzVCLE1BQU0sRUFBRSxRQUFRO0NBQ2hCOztBQUVELEFBQUEsZUFBZSxDQUFBO0VBQ2QsVUFBVSxFQUFFLElBQUk7Q0FDaEIifQ== */