
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$turquoise: #00549E;

@import 'node_modules/bulma/bulma.sass';

// Variables
#signup-form *, #login-form *{
	margin: 7px auto;
}

#loads-progress{
	margin-top: 1rem;
}
